.profile__avatar {
    width: 120px;
    border-radius: 50%;
}

.profile__avatar:hover {
    opacity: 0.2;
    background-image: url("../../../images/redact.svg");
    background-size: cover;
}

@media screen and (max-width: 767px) {
    .profile__avatar {
        align-self: center;
    }
   }

