.profile-info__status {
    line-height: 22px;
    font-size: 18px;
    font-weight: normal;
    color: #fff;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 767px) {
    .profile-info__status {
        line-height: 17px;
        font-size: 14px;
    }
   }