.profile__icon {
    display: flex;
    flex-direction: row;
    position: relative;
    right: 120px;
}

@media screen and (max-width: 767px) {
    .profile__icon {
        margin: 0 auto;
        margin-bottom: 36px;
    }
   }